* {
    margin: 0;
    padding: 0;
    border: 0;
}
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: #F0F1F3;
    height: 100vh;
    align-items: center;
}
#app {
    width: 454px;
}


@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../src/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../src/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

