ul{
    cursor: pointer;
    list-style-type: none;
}
.cityListWrapper{
    position: absolute;
    display: flex;
    width: 390px;
    height: 240px;
    padding: 16px 4px 16px 16px ;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    left: 0px;
    top: 57px;
    border-radius: 9px;
    border: 2px solid  #DBDEE4;
    background: #FFF;
    box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.16);
}
.cityList{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
   flex-shrink: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   padding-right: 3px;
}

.city{
    display: flex;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color:  #919399;
    cursor: pointer;
    border-radius: 10px;


}
.city:hover{
    background:rgba(240, 241, 243, 1);
    color:rgb(123, 124, 130)
}


.cityList::-webkit-scrollbar{
    width: 10px;
}
.cityList::-webkit-scrollbar-track{
    background:rgba(240, 241, 243, 1);
    border-radius: 8px;
}
.cityList::-webkit-scrollbar-thumb{
    background:rgb(123, 124, 130);
    border-radius: 8px;
    border: 3px solid rgba(240, 241, 243, 1);

}
