body {
    display: flex;
    justify-content: center;
    background-color: #F0F1F3;
    height: 100vh;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #F0F1F3;
    height: 100vh;
    align-items: center;
}
.card-header {
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    font-family: 'Montserrat-Bold';
    margin-bottom: 32px;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    padding: 42px 32px;
    width: 454px;
}
p{
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    font-weight: 500;
    line-height: 120%;
    color: #919399;
}
.card-body {
    width: -webkit-fill-available;
}
.card-body p {
    font-family: Montserrat-Regular;
}

.general-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.bottom-block-register {
    display: flex;
    gap:10px;
    margin-top: 16px;
    padding: 10px 0;
}
.bottom-block-register p {
    font-weight: bold;
    font-family: Montserrat-Bold;
    font-size: 14px;
}

h3 {
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    font-family: 'Montserrat-Bold';
    margin-bottom: 13px;
}
.resend-p {
    color: #005BD1;
    cursor: pointer;
}
.time {
    font-weight: bold;
    font-size: 12px;
    color: #528FDF;
}
.ruls{
    font-family: 'Montserrat-Regular';
    color: rgb(201, 0, 0);
    display: flex;
    flex-direction: column;
}

