.container {
    display: flex;
    justify-content: center;
    background-color: #F0F1F3;
    height: 100vh;
    align-items: center;
}
.card-header {
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    font-family: 'Montserrat-Bold';
    margin-bottom: 13px;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    padding: 42px 32px;
    width: 454px;
}
p{
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    font-weight: 500;
    line-height: 120%;
    color: #919399;
}
.redir{
    cursor: pointer;
}
.card-body {
    margin-top: 24px;
    width: -webkit-fill-available;
}
.buttonLog {
    background-color: #005BD1;
    color: white;
    padding: 0 20%;
    width: -webkit-fill-available;
    border-radius: 10px;
    height: 47px;
    margin-bottom: 26px;
    font-family: 'Montserrat-Regular';
    cursor: pointer;
}
input:hover {
    background-color: #DBDEE4;
    transition: ease 1s;
}
input {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    height:34px;
    margin-bottom: 12px;
    width: -webkit-fill-available;
}
.user-email {
    background: url("../../assets/image/mail-icon.svg") no-repeat;
}
.user-passw {
    background: url("../../assets/image/blocked-icon.svg") no-repeat;
    margin-bottom: 26px;
}
.user-email, .user-passw {
    background-size: inherit;
    background-position-y: center;
    background-color: #F0F1F3;
    padding-top: 2%;
    padding-bottom: 2%;
    background-position-x: 16px;
    padding-right:16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 3.5rem;
    border-radius: 9px;
    outline: none;
    height: 56px;
}
.general-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.bottom-block-register {
    display: flex;
    justify-content: space-around;
}
.bottom-block-register p {
    color: #005BD1;
    font-weight: bold;
    cursor: pointer;
}
.ruls{
    font-family: 'Montserrat-Regular';
    color: rgb(201, 0, 0);
    display: flex;
    flex-direction: column;
}


.showPassword{
    position:relative;
}
.show{
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 20px;
    width: 30px;
    height: 30px;

}
.open{
    background-image: url('../../assets/image/bx-show.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hiden{
    background-image: url('../../assets/image/bx-low-vision.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


